<ngx-spinner></ngx-spinner>
<div class="content" role="main">
  <div *ngIf="!gameStarted">
    <h2 *ngIf="total">Total : {{total}}</h2>
    <br />
    <button class="btn btn-lg btn-primary" (click)="startGame()">Start Game</button>
  </div>

  <section [ngClass]="{'hide' : !gameStarted}">
    <div class="image-container" id="imageDiv" pDraggable="dd" #imagediv (onDragStart)="onDragStart(currentImage)"
      (onDragEnd)="onDragEnd()" [@fade]="animationState">
      <pinch-zoom [wheelZoomFactor]="panningScale" [backgroundColor]="backgroundColor" [autoHeight]="true"
        [draggableImage]="true">
        <img [src]="currentImagePath" class="image" />
      </pinch-zoom>
    </div>

    <div class="card highlight-card left card-small" pDroppable="dd" (onDrop)="onDrop('Japanese',{pos1:'left'})">
      Japanese
    </div>
    <div class="card highlight-card right card-small" pDroppable="dd" (onDrop)="onDrop('Chinese',{pos1:'right'})">
      Chinese
    </div>
    <div class="card highlight-card bottom-left card-small" pDroppable="dd"
      (onDrop)="onDrop('Korean',{pos1:'left',pos2:'top'})">
      Korean
    </div>
    <div class="card highlight-card bottom-right card-small" pDroppable="dd"
      (onDrop)="onDrop('Thai',{pos1:'right',pos2:'top'})">
      Thai
    </div>
    <footer>
      <h2>Total: {{total}}</h2>
    </footer>
  </section>
</div>
<router-outlet></router-outlet>